# Default ignored files
/../../ManejadorDeDispositivosParaUnDispositivoVirtualdeEntrada./.idea/shelf/
/../../ManejadorDeDispositivosParaUnDispositivoVirtualdeEntrada./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ManejadorDeDispositivosParaUnDispositivoVirtualdeEntrada./.idea/httpRequests/
# Datasource local storage ignored files
/../../ManejadorDeDispositivosParaUnDispositivoVirtualdeEntrada./.idea/dataSources/
/../../ManejadorDeDispositivosParaUnDispositivoVirtualdeEntrada./.idea/dataSources.local.xml
